.login-page {
    background: linear-gradient(to bottom, #a7cfdf 0%,#23538a 100%);
    width:100%;
    height:100%;
}

.login-form {
    width:400px;
    min-height:250px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    top:calc(50% - 125px);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    background-color:white;
    padding:50px;
}

.grid-default {
    display:grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 5% 85% 10%;
    height:calc(100% - 0px);
    width:calc(100% - 0px);
    grid-gap:0px;
}

.grid-top {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color:#f4f3ef;
    padding:20px;
    font-family:"Helvetica", Arial, sans-serif;
    color:#333;
    border-width:0 0 1px 0;
    border-color:#aaa;
    border-style:solid;
    font-weight:bold;
    font-size:16px;
}

.grid-left-content {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    color:black;
    border-style:solid;
    border-color:#aaa;
    border-width:0 1px 0 0;
    padding-left:0px;
    font-size:14px;
}

.grid-left-content i.fas {
    margin-left:-20px;
    margin-right:20px;
    margin-top:5px;
    float:left;
    position:absolute;
}

.grid-left-content ul {
    margin:0;
    padding:0;
    list-style:none;
}

.grid-left-content ul li {
    border-style:solid;
    border-width:0 0 1px 0;
    border-color:#aaa;
    padding-left:40px;
    padding-top:15px;
    padding-bottom:15px;
    font-weight:bold;
    color:#333;
    background-color:#f4f3ef;
}

.grid-left-content ul li:hover {
    cursor:hand;
}

.grid-left-content ul li a {
    color:#333;
    text-decoration:none;
}

.grid-middle-content {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    overflow-y:auto;
    color:black;
    background: linear-gradient(to bottom, #a7cfdf 0%,#23538a 100%);
    width:100%;
    height:100%;
    padding:20px;
}

.grid-middle-content #content {
    padding:20px;
}

.grid-middle-content #content .card {
    margin-bottom:20px;
}

.tcmsEditor {
    padding:20px;
    background-color:white;
    width:100%;
    min-height:500px;
}

.editor-button {
    background-color: white;
    float: left;
    margin: 5px 10px 3px 0px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    color:#495057;
}

.editor-button:hover {
    cursor:hand;
}

#btnSavePage {
    margin-top:20px;
    float:right;
}

.pager_controls .pagination .page-item {
    cursor:pointer;
    margin: 1px;
    font-size: 0.8em;
    width: 3.5em;
    text-align: center;
}

.pager_controls .pagination .page-item.pager_page_active .page-link  {
    background-color:#0069d9;
    color:white;
}

.pager_controls ul.pagination {
    flex-wrap:wrap;
}